    <nav>
        <div class="logo">
            <h2>MyApp</h2>
        </div>
        <ul>
            <li><a href="http://127.0.0.1:8000">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="" onclick="logout()">Logout</a></li>
        </ul>
    </nav>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Posts</title>
    <link rel="stylesheet" href="/static/css/dash.css">
</head>
<body>


    <div class="container">
        <h1>All Posts</h1>
        <div id="posts-container">
            <!-- Posts will be loaded here dynamically -->
        </div>
    </div>

    <script src="/static/js/dash.js"></script>
</body>
</html>
