<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
  
</head>
<body>
    
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
        <div id="message"></div>
        <a href="http://127.0.0.1:8000/register/">Create User</a>
    </form>

    

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('http://127.0.0.1:8000/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                })
            });

            const data = await response.json();

            if (response.ok) {
                localStorage.setItem('access', data.access);  // Store access token
                localStorage.setItem('refresh', data.refresh);  // Store refresh token
                // Redirect to the home page
                window.location.href = 'http://127.0.0.1:8000/dash/'
            } else {
                document.getElementById('message').innerHTML = 'Error: ' + data.detail;
            }
        });
    </script>
</body>
</html>
